{% extends 'layout.html' %}

{% block title %}
    <title>ajouter un article</title>
{% endblock %}

{% block body %}
  <h2>ajout d'un article</h2>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="post" action="/article/add" {#action="{{ url_for('valid_add_article') }}#}>
    <fieldset>
        <legend> Créer un article</legend>
        <label for="nom">nom</label><br>
        <input id="nom" type="text" name="nom" size="18" value="" placeholder="Saisir le nom de l'article"><br>
       <!-- <label for="type_article_id">id type de l'article</label><br>
        <input id="type_article_id" type="text" name="type_article_id" size="18" value="" placeholder="Saisir l'id du type de l'article"><br>
       -->
        <br>
        <label for="type_article_id">type de l'article</label>
        <select name="type_article_id" required>
            <option value="">Sélectionner un article</option>
            {% for type in types_articles %}
            <option value="{{ type.id }}"> {{ type.libelle }} </option>
            {% endfor %}
        </select><br>


        <label for="prix">prix de l'article</label><br>
        <input id="prix" type="number" step="0.01"  required name="prix" size="18" value="" placeholder="Saisir le prix de l'article"><br>
        <label for="stock">stock</label><br>
        <input id="stock" type="number"  required name="stock" size="18" value="" placeholder="Saisir le stock"><br>
        <label for="description">description</label><br>
        <input id="description" type="text" name="description" size="18" value="" placeholder="Saisir la description"><br>
        <label for="image">image</label><br>
        <input id="image" type="text" name="image" size="18" value="" placeholder="Saisir le nom de l'image de l'article"><br>
{#        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>#}
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}